# Environment Configuration
ENV=dev
BASE_URL=http://localhost:5173
API_BASE_URL=http://localhost:3000
CI=false

# BrowserStack Configuration
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BROWSERSTACK_BUILD_NAME=
BROWSERSTACK_PROJECT_NAME=Test Automation Accelerator
